@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import './mixins.scss';

.main {
    background-image: url(./assets/flowers-1230225s.jpg);
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box;
    width: 100vw;
    height: 100vh;

}

.container {
    height: 100vh;
    max-width: 900px;
    width: 48%;
    background-color: rgba(255, 255, 255, 0.719);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include laptop {
        width: 60%;
    }

    @include tablet {
        width: 75%;
    }

    @include mobile {
        width: 80%;
    }

    @include xs-mobile {
        width: 90%;
    }

    &__title {
        font-family: 'EB Garamond', serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        font-size: 36px;
        letter-spacing: 1px;

        @include mobile {
            font-size: 30px;
        }

        @include xs-mobile {
            font-size: 24px;
        }
    }
}

.sites {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    overflow: auto;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-size: 18px;

    @include mobile {
        padding: 10px 2%;
        justify-content: center;
    }

    &__block {
        transition: 0.8s;
        padding: 10px 40px;
        height: 170px;
        width: 46%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.822);
        border: solid 1px rgb(255, 255, 255);
        margin-bottom: 10px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(190, 190, 190, 0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(168, 168, 168, 0.75);
        box-shadow: 0px 0px 12px 0px rgba(170, 170, 170, 0.75);

        @include laptop {
            padding: 10px 30px;
        }

        @include tablet {
            padding: 10px 20px;
        }

        @include mobile {
            width: 90%;
            padding: 10px 20px;
        }

        &:hover {
            transform: scale(1.02);
            z-index: 10;
        }
    }

    &__name {
        color: lightcoral;
        text-shadow: 1px 2px 2px rgb(247, 196, 201),
        -1px 2px 2px rgb(252, 202, 205);
    }

    &__title {
        font-family: 'EB Garamond', serif;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 23px;
    }

    &__description {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include xs-mobile {
            font-size: 16px;
            width: 90%;
        }
    }

    &__links {
        font-size: 19px;
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            width: 18%;
            font-size: 20px;
        }

        @include xs-mobile {
            width: 25%;
            font-size: 20px;
        }
    }

    &__link {
        color: lightcoral;

        &:hover {
            color: black;
        }
    }

    &__technologies {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        text-align: center;

        @include xs-mobile {
            font-size: 16px;
        }
    }

    &__techno {
        margin-right: 1px;
        color: lightcoral;
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(199, 199, 199);
    background-color: rgb(194, 194, 194);
}

a {
    cursor: pointer;
}